In [2]:
import pandas as pd
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)  #DataFrame fun from pandas library
print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

In [12]:
df.shape  #dimensions of dataframe

(5, 3)

In [18]:
df.shape[0]  #number of rows

5

In [19]:
df.shape[1]  #number of columns

3

In [36]:
rows, cols = df.shape

In [34]:
rows

5

In [35]:
cols

3

In [23]:
df.head(2)  #shows first two data entry

   col1  col2  col3
0     1     4     7
1     2     5     8

In [24]:
df.tail(2)  #shows last two data entry

   col1  col2  col3
3     4     9     1
4     7     5    11